.ProfileCard {
    width: 28rem;
    height: 30rem;

    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    position: relative;

    gap: 1rem;
    overflow-x: clip;
    background: var(--cardColor);
    

}

.ProfileImages {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.ProfileImages>img:nth-of-type(1) {
    width: 100%;
    height: 10rem;
    top: 2rem;
    

}

.ProfileImages>img:nth-of-type(2) {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    position: absolute;
    bottom: -4rem;
    box-shadow: var(--profileShadow);
}

.ProfileName {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;
    gap: 10px;
}

.ProfileName>span:nth-of-type(1) {
    font-weight: bold;
}

.followStatus {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;

}

.followStatus>img {
    width: 80%;
    height: 0.125rem;
    box-sizing: border-box;
    border: 1px solid var(--hrColor);

}

.followStatus>hr {
    width: 100%;
    box-sizing: border-box;
    border: 1px solid var(--hrColor);

}


.followStatus>div {
    display: flex;
    gap: 1rem;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.follow {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    align-items: center;
    justify-content: center;
    width: 20rem;

}

.follow>span:nth-of-type(1) {
    font-weight: bold;

}

.follow>span:nth-of-type(2) {
    color: var(--gray);
    font-size: 13px;

}

.vl {
    height: 200%;

    border-left: 2px solid var (--hrColor);

}

.ProfileCard>span{
    font-weight: bold;
    color: rgb(23, 68, 96);
    align-self: center;
    margin-bottom: 1rem;
    cursor: pointer;

}

:root {
    --hrColor: #5a8086;
    /* sets the value of the --hrColor variable to a color */
}