/* .ProfileSide {
    grid-column-start: 1;
    grid-column-end: 2;
    border: 1px solid red;
    
  } */

/* .ProfileSide {
    display: flex;
    flex-direction: column;
  
    overflow: visible;
} */


.ProfileSide {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    overflow: hidden;
    /* border: 1px solid red; */
    
}

  /* .ProfileSide{
    display: flex;
    flex-direction: column;
    gap: 1 rem;
    align-items: center;
    overflow: auto;
    
  } */