/* .InfoCard{
    display: flex;
    flex-direction: column;
    background-color: var(--cardColor);
    gap: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    width: 135%;
    

} */

.InfoCard{
    width: 28rem;
    height: 30rem;

    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    position: relative;

    gap: 1rem;
    overflow-x: clip;
    background: var(--cardColor);
    /* border: 1px solid red; */
    

}

.infohead{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid red; */
    width: 90%;
    padding-left: 1.5rem;
    
}

/* .button{
    
    align-self: center;
    
} */

.infohead>div:hover{
    cursor: pointer;
}




.logout-button{
    width: 7rem;
    height: 2rem;
    margin-top: 6rem;
    align-self: center;

}

/*might change later*/
.info{
    padding-left: 1.5rem;
}